# Python
.venv/
__pycache__/
*.pyc
.ipynb_checkpoints/

# Temporary SPICE files
spice/temp*.cir
*.raw

# Large/intermediate simulation files
data/advanced/
data/*.dat

# Logs
*.log

# OS files
.DS_Store
Thumbs.db
